@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* font-family: "Fira Sans", serif; */

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(241, 241, 243, 1);
}

/* Navbar Style */

nav {
  width: 1280px;
  height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Fira Sans", serif;
}

nav h1 {
  color: #0e0e0e;
  font-size: 32px;
  font-weight: 700;
}

nav h4 {
  color: #006a50;
  font-size: 18px;
  font-weight: 600;
  border-radius: 8px;
  border: 1px solid #006a50;
  padding: 15px 30px;
  cursor: pointer;
}

nav h4:hover {
  background-color: #006a50;
  color: #fff;
}

/* Banner Section Style */

.banner {
  display: flex;
  width: 1280px;
  height: 560px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  gap: 64px;
  border-radius: 24px;
  background: #c6e4d6;
}

.banner .banner-text h4 {
  color: rgba(14, 14, 14, 0.5);
  font-family: "Fira Sans";
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}

.banner .banner-text h1 {
  color: #0e0e0e;
  font-family: "Fira Sans";
  font-size: 56px;
  font-weight: 700;
  margin-bottom: 24px;
}

.banner .banner-text button {
  color: #fff;
  font-family: "Fira Sans";
  font-size: 18px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  background: #006a50;
  padding: 17px 34px;
  cursor: pointer;
}

.banner .banner-text button:hover {
  background-color: #03926e;
}

/* Pillars of "Bangladesh 2.0" */

.pillars-bangladesh {
  width: 1280px;
  margin: 0 auto;
  margin-top: 80px;
  font-family: "Fira Sans", serif;
  margin-bottom: 80px;
}

.pillars-bangladesh > h1 {
  color: #0e0e0e;
  font-size: 40px;
  font-weight: 700;
}

.four-pillars {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  gap: 24px;
}

.pillars {
  width: 302px;
  border-radius: 16px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  background: #fff;
  padding: 24px;
}

.first > img {
  margin-bottom: 24px;
}

.first > h3 {
  color: rgba(14, 14, 14, 0.8);
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 12px;
}

.first > p {
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.second > img {
  margin-bottom: 24px;
}

.second > h3 {
  color: rgba(14, 14, 14, 0.8);
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 12px;
}

.second > p {
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.third > img {
  margin-bottom: 24px;
}

.third > h3 {
  color: rgba(14, 14, 14, 0.8);
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 12px;
}

.third > p {
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.four > img {
  margin-bottom: 24px;
}

.four > h3 {
  color: rgba(14, 14, 14, 0.8);
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 12px;
}

.four > p {
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
